<%= render  "layouts/background-img", image_url: "https://harborhonolulu.org/wp-content/uploads/2019/05/movie-theater-background.jpg" %>
<br/>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>My Lists</h1>
        <%= link_to  "Add new List", new_list_path, class:"btn btn-success", style:"border-radius:10px" %>
    </div>
    <br/>
    <br/>
    <div class="row">
        <% @lists.each do |list|%>
                <div class="col-4">
                    <div class="card mb-4" style="width: 25rem;">
                        <%= image_tag 'movie-theater', alttext: "text", class:"card-img-top" %>
                        <div class="card-body">
                            <h5 class="card-title"><%= list.name %></h5>
                            <small class="text-muted">Created <%= time_ago_in_words(list.created_at) %> ago</small>
                            <div class="d-flex justify-content-between pt-3">
                            <button class="btn btn-danger">Delete</button>
                            <%= link_to "" , list_path(list), method: :delete, class: "hidden"%>
                            <%= link_to "More" , list_path(list), class:"btn btn-info"%>
                            </div>
                        </div>
                    </div>
                </div>
        <%end%>
    </div>
</div>